.banner {
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    padding: 2.5em 2em;
}

.banner__titulo {
    font-size: 18px;
    font-weight: 700;
}

.banner__texto {
    font-weight: 500;
    margin: 1em;
}
.banner__pesquisa {
    background: transparent;
    border: 1px solid var(--branco);
    border-radius: 24px;
    padding: 1em;
    width: 100%;
    color: var(--branco);
}
.banner__pesquisa::placeholder {
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: var(--branco);
    background: url("../img/Pesquisa.svg") no-repeat;
    background-position: 1em;
}

@media screen and (min-width: 1024px) {
    .banner{
        padding: 6em;
    }

    .banner__titulo {
        font-size: 36px;
    }    

    .banner__texto{
        font-size: 16px;
        font-weight: 500;
    }

    .banner__pesquisa {
        width: 50%;
    } 
    
    .banner__pesquisa::placeholder {
        background-position: 4em;
    }
}