.carrossel__titulo {
    color: var(--laranja);
    text-align: center;
    background-color: var(--branco);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    padding: 1em 0 0.5em 0;
}

.swiper-slide img {
    width: 100%;
}
.swiper-button-prev,.swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: .5em 0;
}

.card__descricao {
   display:flex;
   justify-content: space-between;
}

.card__botoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botoes {
    display: flex;
    align-items: center;
}

.card {
    background: var(--branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}

.descricao__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.descricao__titulo-livro {
    color: var(--azul);
    font-weight: 700;
    font-size: 18px;
    margin: 0.5em 0;
}

.descricao__texto {
    font-size: 14px;
    margin-top: 1.5em;
}

.botoes__item {
    margin: 0.5em 0.5em;
}

.botoes__ancora {
    background: var(--laranja);
    padding: 1em 2.2em;
    font-weight: 700;
    color: var(--branco);
    text-decoration: none;
    margin: 1.5em 0 0.5em;
}

@media screen and (min-width: 1024px) {
    .carrossel__titulo {
        padding: 2em 0 1em;
    }

    .swiper-pagination {
        margin: 3em 0 2em 0;
    }

    .swiper {
        width: 60%;
    }

    .swiper-button-prev,.swiper-button-next {
        display: block;
        top:60%;
    }
    

    .card {
        width: 40%;
        margin: 1em auto;
    }

}
